body {
  background-color: black;
  color: #66CD00;
  font-family: 'Roboto Mono';
  font-size: 14px;
}

#clockPage {
  position: absolute;
  width: 360px;
  height: 360px;
  background-size: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hitarea {
  fill: yellow;
  fill-opacity: 0;
}

.simple-button {
  padding-right: 5px;
  cursor: pointer;
}

#button {
  cursor: pointer;
}

#button-bar {
  float: right;
  margin: 10px;
}

#clock-hit {
  width: 95%;
}

.dialog {
  padding: 10px;
  margin: 10px;
}

.form-button {
  color: black;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 5px;
}

.form-input {
  font-size: 14px;
  background-color: black;
  color: #66CD00;
  border-radius: 3px;
  width: 100px;
  margin-right: 5px;
  margin: 0 5px 10px 0;
}

p {
  padding-top: 5px;
}

.p-small {
  font-size: 10px;
}
